<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Teste no Render</title>
    <style>
        body {
            font-family: sans-serif;
            background-color: #ecf0f1;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .card {
            background: white;
            padding: 2rem;
            border-radius: 1rem;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="card">
        <h1>🚀 Deploy Funcionando!</h1>
        <p>Esta página foi renderizada com Flask e HTML.</p>
    </div>
</body>
</html>
